.check-in-config {
  font-family: MicrosoftYaHei;
  font-weight: 400;
  .header {
    height: 11.9/10rem;
    background: rgba(248, 248, 248, 1);
    margin: 2/10rem;
    padding: 2/10rem;
    .title {
      display: block;
      margin-bottom: 1/10rem;
      font-size: 2.4/10rem;
      font-family: MicrosoftYaHei-Bold;
      font-weight: bold;
      color: rgba(51, 51, 51, 1);
    }
    .text {
      margin-left: 0.5/10rem;
    }
    .title-switch {
      display: inline-block;
      margin-left: 1/10rem;
    }
  }
  .basic-config {
    .title {
      height: 3.2/10rem;
      margin: 2/10rem;
      background: rgba(248, 248, 248, 1);
    }
    .clickable {
      color: rgba(66, 136, 255, 1);
    }
    .unit {
      margin: 1/10rem 0 1/10rem 8/10rem;
      .sub-title {
        vertical-align: top;
      }
      .unit-right {
        display: inline-block;
        .rules {
          width: 60/10rem;
          height: 16/10rem;
          background: rgba(255, 255, 255, 1);
          border: 1px solid rgba(229, 229, 229, 1);
          color: rgba(102, 102, 102, 1);
          padding: 1/10rem;
        }
      }
    }
    .save {
      left: 60/10rem;
      margin: 2/10rem 0 7/10rem 0;
    }
  }

  .ads {
    height: 90/10rem;
    .left {
      position: absolute;
      left: 37/10rem;
      top: 13/10rem;
      width: 28/10rem;
      height: 66/10rem;
      background-image: url("../../img/checkin-example.png");
      background-size: cover;
    }
    .right {
      .header {
        position: absolute;
        width: 60/10rem;
        height: 17/10rem;
        left: 66/10rem;
        top: 11/10rem;
        padding: 1/10rem;
        background: rgba(242, 242, 242, 1);
        border-radius: 1/10rem;
      }
      .head-img {
        position: absolute;
        width: 60/10rem;
        height: 22/10rem;
        left: 68/10rem;
        top: 34/10rem;
        padding: 1/10rem;
        background: rgba(242, 242, 242, 1);
        border-radius: 1/10rem;
        .preview {
          width: 31/10rem;
          height: 15/10rem;
          margin-bottom: 1/10rem;
        }
      }
    }
    .save {
      position: absolute;
      left: 77/10rem;
      top: 74/10rem;
    }
  }
  .tip1 {
    font-size: 1.4/10rem;
    color: rgba(153, 153, 153, 1);
  }
}
