.check-in-config {
  font-family: MicrosoftYaHei;
  font-weight: 400;
  .header {
    height: 11.9rem;
    background: rgba(248, 248, 248, 1);
    margin: 2rem;
    padding: 2rem;
    .title {
      display: block;
      margin-bottom: 1rem;
      font-size: 2.4rem;
      font-family: MicrosoftYaHei-Bold;
      font-weight: bold;
      color: rgba(51, 51, 51, 1);
    }
    .text {
      margin-left: 0.5rem;
    }
    .title-switch {
      display: inline-block;
      margin-left: 1rem;
    }
  }
  .basic-config {
    .title {
      height: 3.2rem;
      margin: 2rem;
      background: rgba(248, 248, 248, 1);
    }
    .clickable {
      color: rgba(66, 136, 255, 1);
    }
    .unit {
      margin: 1rem 0 1rem 8rem;
      .sub-title {
        vertical-align: top;
      }
      .unit-right {
        display: inline-block;
        .rules {
          width: 60rem;
          height: 16rem;
          background: rgba(255, 255, 255, 1);
          border: 1px solid rgba(229, 229, 229, 1);
          color: rgba(102, 102, 102, 1);
          padding: 1rem;
        }
      }
    }
    .save {
      left: 60rem;
      margin: 2rem 0 7rem 0;
    }
  }

  .ads {
    height: 90rem;
    .left {
      position: absolute;
      left: 37rem;
      top: 13rem;
      width: 28rem;
      height: 66rem;
      background-image: url("../../img/checkin-example.png");
      background-size: cover;
    }
    .right {
      .header {
        position: absolute;
        width: 60rem;
        height: 17rem;
        left: 66rem;
        top: 11rem;
        padding: 1rem;
        background: rgba(242, 242, 242, 1);
        border-radius: 1rem;
      }
      .head-img {
        position: absolute;
        width: 60rem;
        height: 22rem;
        left: 68rem;
        top: 34rem;
        padding: 1rem;
        background: rgba(242, 242, 242, 1);
        border-radius: 1rem;
        .preview {
          width: 31rem;
          height: 15rem;
          margin-bottom: 1rem;
        }
      }
    }
    .save {
      position: absolute;
      left: 77rem;
      top: 74rem;
    }
  }
  .tip1 {
    font-size: 1.4rem;
    color: rgba(153, 153, 153, 1);
  }
}
