.lottery {
  position: relative;
  height: 95rem;
  .step0 {
    .tips {
      margin: 3rem 0 2rem 3rem;
    }
    .public {
      display: inline-block;
      position: relative;
      width: 14rem;
      height: 14rem;
      background: rgba(242, 242, 242, 1);
      border-radius: 1rem;
      margin-left: 4rem;
      text-align: center;
      .logo {
        width: 8rem;
        height: 8rem;
        margin-top: 2rem;
      }
    }
  }
  .lottery-img-title {
    position: absolute;
    top: 8rem;
    left: 48rem;
  }
  .lottery-img {
    position: absolute;
    width: 28rem;
    height: 67rem;
    top: 11rem;
    left: 37rem;
  }

  .the-form {
    position: absolute;
    width: 60rem;
    top: 9rem;
    left: 67rem;
    background: rgba(242, 242, 242, 1);
    border-radius: 1rem;
  }

  .the-tips {
    font-size: 1.4rem;
    color: rgba(153, 153, 153, 1);
  }
}
