.lottery {
  position: relative;
  height: 95/10rem;
  overflow-x: scroll;
  .step0 {
    .tips {
      margin: 3/10rem 0 2/10rem 3/10rem;
    }
    .public {
      display: inline-block;
      position: relative;
      width: 14/10rem;
      height: 14/10rem;
      background: rgba(242, 242, 242, 1);
      border-radius: 1/10rem;
      margin-left: 4/10rem;
      text-align: center;
      .logo {
        width: 8/10rem;
        height: 8/10rem;
        margin-top: 2/10rem;
      }
    }
  }
  // 强行设置行高
  .step1,
  .step4 {
    .the-tips {
      .ant-form-item-control {
        margin-top: 0.2rem;
        line-height: 1.5;
      }
    }
  }
  .step2 {
    .tabs {
      margin-left: 0.2rem;
      margin-right: 0.2rem;
      background: rgba(255, 255, 255, 1);
    }
    .no-prize-txt {
      font-size: 0.14rem;
      font-family: MicrosoftYaHei;
      font-weight: 400;
    }
  }
  .step4 {
    .the-tips {
      position: relative;
      top: -0.3rem;
    }
  }
  .lottery-img-title {
    position: absolute;
    top: 8/10rem;
    left: 48/10rem;
  }
  .lottery-img {
    position: absolute;
    width: 28/10rem;
    height: 67/10rem;
    top: 11/10rem;
    left: 37/10rem;
  }

  .the-form {
    position: absolute;
    width: 7rem;
    top: 9/10rem;
    left: 67/10rem;
    background: rgba(242, 242, 242, 1);
    border-radius: 1/10rem;
  }

  .the-tips {
    font-size: 1.4/10rem;
    color: rgba(153, 153, 153, 1);
  }
}
