.lottery-create {
  .tips {
    margin: 3rem 0 2rem 3rem;
  }
  .public {
    display: inline-block;
    position: relative;
    width: 14rem;
    height: 14rem;
    background: rgba(242, 242, 242, 1);
    border-radius: 1rem;
    margin-left: 4rem;
    text-align: center;
    .logo {
      width: 8rem;
      height: 8rem;
      margin-top: 2rem;
    }
    .activated-icon {
      display: inline-block;
      position: absolute;
      width: 6rem;
      height: 6rem;
      right: 0;
      top: 0;
      background-image: url("../../img/activated.png");
      background-size: cover;
    }
  }
}
